---
interface Props {
  class?: string
}
const { class: className } = Astro.props
---
<div class:list={[className, 'bg-linear-115 from-[#fff1be] from-28% via-[#ee87cb] via-70% to-[#b060ff] sm:bg-linear-145']}>
  <slot />
</div>
