---
interface Props {
  class?: string
}
const { class: className } = Astro.props
---
<div class:list={[className, 'bg-linear-115 from-[#b8f0e6] from-28% via-[#5bb8d4] via-70% to-[#1a6b8a] sm:bg-linear-145']}>
  <slot />
</div>
