---
interface Props {
  class?: string
}
const { class: className } = Astro.props
---
<div class:list={[className, 'flex items-center gap-2']}>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-cyan-500">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v13M12 3C9 5.5 5.5 10 5 16h14c-.5-6-4-10.5-7-13Z" />
    <path stroke-linecap="round" stroke-linejoin="round" d="M3 19.5c2-1.5 4.5-2 6-2s3 .5 3 .5 1.5-.5 3-.5 4 .5 6 2" />
    <path stroke-linecap="round" stroke-linejoin="round" d="M2 22c2-1.5 4.5-2 6-2s3 .5 4 .5 1.5-.5 3-.5 4 .5 7 2" />
  </svg>
  <span class="text-3xl">Slackwater</span>
</div>
